<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <div class="row">
            <a class="navbar-brand" [routerLink]="['/']">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLinkActive="active" *ngIf="!isLoggedIn"
                        [routerLink]="['/auth']">Login</a>
                    <a class="nav-item nav-link" (click)="onLogout()" routerLinkActive="active" *ngIf="isLoggedIn"
                        [routerLink]="['/auth']">Logout</a>
                    <a class=" nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                        [routerLink]="['/']">Home <span class="
                    sr-only">(current)</span></a>
                    <a *ngIf="isLoggedIn" class="nav-item nav-link" routerLinkActive="active"
                        [routerLink]="['/users']">{{isAdmin ? 'Users': 'Profile'}}</a>
                    <a *ngIf="isLoggedIn" class="nav-item nav-link" routerLinkActive="active"
                        [routerLink]="['/tasks']">{{ isAdmin ? 'Tasks' : 'My Tasks'}}</a>
                </div>
            </div>
        </div>
    </div>
</nav>