<a *ngIf="alert===false && isAdmin" [routerLink]="['/users','add']" class="btn btn-primary my-2">Add User!</a>
<table *ngIf="alert===false" class="table table-bordered table-sm table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | paginate:config">
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <!-- <td>
                <ul>
                    <li *ngFor="let task of user.tasks">{{task.text}}: {{task.completed}}</li>
                </ul>
            </td> -->
            <td>
                <button class="btn btn-outline-primary mr-2"
                    (click)="onEdit(user)">{{isAdmin ? 'Edit':'Edit Profile'}}</button>
                <button class="btn btn-outline-danger"
                    (click)="onDeleteClick(user)">{{isAdmin ? 'Delete':'Delete Account!'}}</button>
            </td>
        </tr>
    </tbody>
</table>
<pagination-controls *ngIf="alert===false && isAdmin" id="usersPagination" (pageChange)="pageChange($event)"
    class="my-pagination">
</pagination-controls>
<div *ngIf="alert===true && isAdmin " class="alert alert-danger">
    <h3>Page accessed is Out of Bound!</h3>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>